In [5]:
sql_password="Myiphone5s"

In [6]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SQLContext
import sys
try:
    sc.stop()
except:
    pass
sc = SparkContext(appName="mysql_movie")
sqlContext = SQLContext(sc)

In [7]:
df=sqlContext.read.format("jdbc").options(url="jdbc:mysql://localhost:3306/MovieDB",
                                       driver="com.mysql.jdbc.Driver",
                                       dbtable="movies",user="root",password=sql_password).load()
df.show()
sc.stop()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|
|      4|Waiting to Exhale...|Comedy|Drama|Roma...|
|
|      6|         Heat (1995)|Action|Crime|Thri...|
|
|
|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Roma...|
|
|     13|        Balto (1995)|Adventure|Animati...|
|
|     15|Cutthroat Island ...|Action|Adventure|...|
|
|
|
|
+-------+--------------------+--------------------+
only showing top 20 rows